body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* Header  */
 
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-link {
    
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navigation-list {
    list-style-type:none;
}
.navigation-item-link {
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-item {
    color:#434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

