/* COMMON */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    }

button {
    cursor: pointer;
}

/* HEADER */

.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logotype-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.navigation-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal; 
}

.address-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:#434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* HERO  */

.hero {
    background-color:#2E2F42;
}

.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center
}

.order-service-bttn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:#4d5ae5;
    color: #ffffff;
}

.order-service-bttn:hover,
.order-service-bttn:focus {
    background-color:#404bbf;
}

/* BENEFITS */

.benefits-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* OUR TEAM */

.team-sec {
    background-color: #f4f4fd;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center
}

.team-list-item {
    background-color: #ffffff;
}
.team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

/* OUR PORTFOLIO */

.portfolio-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */

.page-footer {
    background-color: #2e2f42;
}

.logotype-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logotype-span-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
}